.box {
    border: 3px solid #494d64;
    border-radius: 10px;
    padding: 1rem 1rem;
    background: #24273A;
    margin: 10px auto;
    max-width: 800px;
    vertical-align: middle;
}
img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.homebar {
        border: 3px solid #494d64;
    border-radius: 10px;
    padding: 1rem 1rem;
    background: #24273A;
    margin: 10px auto;
    max-width: 800px;
    vertical-align: middle;
}

button {
    background-color: #494d64;
    color: #cad3f5;
    border-color: #6e738d;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    transition-duration: 50ms;
    background-color: #5b6078;
    color: #cad3f5;
    border-color: #8087a2;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
}
a {
    color: #cad3f5;
    text-decoration: none;
}
.row {
    display: table;
    border-spacing: 10px;
    margin: auto;
    max-width: 800;
}
.box_thin {
    display: table-cell;
    border: 3px solid #494d64;
    border-radius: 10px;
    padding: 1rem 1rem;
    background: #24273A;
    max-width: 245px;
    ;
}
.text_light {
    color: #cad3f5;
}
body {
    background-color: #f0c6c6;
}
.text_dark {
    color: #24273A;
    text-align: center;
}
.text_light_c {
    color: #cad3f5;
    text-align: center;
}